@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-image: url("https://wallpaper.dog/large/976635.jpg");
        background-repeat: no-repeat;
        background-size: 1400px 589px;
    }
    
</style>

<div class="text-center">
    <h1 class="display-4">SNEAKER</h1>
    <p>Youth Fashion Style</p>
</div>
